<header>
    <div class="container-fluid">
        <div class="row align-items-center" id="navbar">
            <div class="col-2 d-flex" id="title">
                <a class="navbar" href="/">Fotobook</a>
            </div>
            <div class="col-8">
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search Photo/Album"
                        aria-label="Search"
                    >
                </form>
            </div>
            <div class="col-2 d-inline-block float-start">
                <a class="navbar" href="/" id="login">Login</a>
            </div>
        </div>
    </div>
</header>